version: '2'
services:
  # API Server
  api-01:
    restart: always
    image: registry.ronaksoftware.com/customers/ronakvision/server-blip/server-api:dev
    environment:
      - BLIP_LOG_LEVEL=-1
      - BLIP_MONGO_URL=mongodb://mongo-01:27017
      - BLIP_REDIS_URL=redis:6379
      - BLIP_REDIS_PASS=ehsan2374
      - BLIP_SMS_SERVICE_NAME=test
      - BLIP_SMS_SERVICE_TOKEN=stuimxfhyy
      - BLIP_SONGS_INDEX_DIR=/ronak/data
    volumes:
      - ./_hdd/api-01:/ronak/data
    ports:
      - 80:80
    networks:
      - blip
  # MongoDB Server 01
  mongo-01:
    restart: always
    image: registry.ronaksoftware.com/base/docker/mongo
    command: mongod --replSet rs0
    volumes:
      - ./_hdd/db-mongo-01:/data/db
    ports:
      - 27001:27017
    expose:
      - 27017
    networks:
      - blip
  # MongoDB Server 02
  mongo-02:
    restart: always
    image: registry.ronaksoftware.com/base/docker/mongo
    command: mongod --replSet rs0
    volumes:
      - ./_hdd/db-mongo-02:/data/db
    ports:
      - 27002:27017
    expose:
      - 27017
    networks:
      - blip
  # MongoDB Server 03
  mongo-03:
    restart: always
    image: registry.ronaksoftware.com/base/docker/mongo
    command: mongod --replSet rs0
    volumes:
      - ./_hdd/db-mongo-03:/data/db
    ports:
      - 27003:27017
    expose:
      - 27017
    networks:
      - blip
  # Redis
  redis:
    restart: always
    image: registry.ronaksoftware.com/base/docker/redis
    command: redis-server --requirepass ehsan2374 --save 1 1
    volumes:
      - ./_hdd/redis:/data
    ports:
      - 6379:6379
    networks:
      - blip

networks:
  blip:
    external:
      name: blip
